@import '../_variables.scss';

#page-room{
  header{
    padding: 1.5rem;
    border-bottom: 1px solid $header-border;

    .content{
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content:space-between;
      align-items:center;

      > img {
        max-height: 2.813rem;
      }

      > div {
        display: flex;
        gap: 1rem;

        button{
          height: 40px;
        }
      }
    }
  }

  main{
    max-width: 50rem;
    margin: 0 auto;

    .room-title{
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items:center;

      h1{
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: $dark-gray;
      }

      span{
        margin-left: 1rem;
        background: $green;
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        color: $white;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form{
      textarea{
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 8px;
        background: $light-white;
        box-shadow: 0 2px 12px $shadow;
        resize: vertical;
        min-height: 8.125rem;
      }

      .form-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info{
          display: flex;
          align-items: center;

          img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span{
            margin-left: 0.5rem;
            color: $dark-gray;
            font-weight: 500;
            font-size: 14px;
          }
        }
        
        > span{
          font-size: 14px;
          color: $medium-gray;
          font-weight: 500;

          button{
            background: transparent;
            border: 0;
            color: $purple;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }


      }
    }

    .question-list{
      margin-top: 2rem;
    }
  }

  @media (max-width: 768px) {
    main{
      max-width: 80%;
      padding-top: 1rem;
			padding-bottom: 1rem;
      
      .room-title{
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    header .content{
      flex-direction: column;
      > img{
        max-height: 50%;
      }
      >div{
        flex-direction: column;
      }
    }
    main{
      form{
        textarea{
          overflow: scroll;
        }
        .form-footer{
          flex-direction: column;
          gap: 0.5rem;
        }  
      }
    }
  }
  
}