//variáveis
$primary-font:'Roboto', sans-serif;
$secondary-font:'Poppins', sans-serif;

$white: #fff;
$light-white: #fefefe;
$medium-white: #f8f8f8;
$light-gray: #a8a8a8;
$medium-gray: #737380;
$dark-gray: #29292e;
$purple: #545EBF;
$tomato: #ea4335;
$green: #2DB04A;
$dark-green: #389B69;
$shadow: rgba(0, 0, 0, 0.04);
$header-border: rgba(56,155,105, 0.4);
