//variáveis
$primary-font:'Roboto', sans-serif;
$secondary-font:'Poppins', sans-serif;

$white: #fff;
$light-white: #fefefe;
$medium-white: #f8f8f8;
$light-gray: #a8a8a8;
$medium-gray: #737380;
$dark-gray: #29292e;
$purple: #835afd;
$tomato: #ea4335;
$light-pink: #e559f9;
$shadow: rgba(0, 0, 0, 0.04);